$glass-height: 250px;

.glass-container {
  @apply flex flex-col w-full;
}

.glass-content {
  @apply flex py-10 rounded-3xl bg-white w-full;
  @include glass;
  min-height: $glass-height;
}

.content {
  @apply flex w-full px-10;
  transform: translateY(calc(-#{$glass-height} + 5rem))
}