.ribbon {
  @apply w-full flex py-10 flex-col items-center justify-center bg-white;
  min-height: 250px;

  h2 {
    @apply text-white font-bold text-8xl text-center;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}