
.products {
  @apply min-w-full;
}

.moj {
  @apply my-4;
}

.heading {
  @apply text-center;
  color: transparent;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.61) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;;
  backdrop-filter: blur(16px) !important;;
  -webkit-backdrop-filter: blur(16px) !important;;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;;
}