@tailwind base;
@tailwind components;
@tailwind utilities;

.container-padding {
  @apply w-full px-2.5;
}

@include sm-640 {
  .container-padding {
    @apply px-10;
  }
}

@include lg-1024 {
  .container-padding {
    @apply px-20;
  }
}


:root {
  --gradient: linear-gradient(245deg, rgba(255, 145, 145, 1), rgba(253, 143, 82, 01), rgba(255, 145, 145, 1));
}

.font-size-default {
  font-size: clamp(10px, 16px, 16px);
}

* {
  font-size: clamp(12px, 1.3vw, 16px);
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: 'Nunito Sans', sans-serif !important;
  background: var(--gradient);
  //background-size: 300%;
  //background-image: var(--gradient);
  //animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left
  }
  50% {
    background-position: right
  }
  100% {
    background-position: left
  }
}