@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient: linear-gradient(245deg, rgba(255, 145, 145, 0.8), rgba(253, 143, 82, 0.8), rgba(255, 145, 145, 0.8));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  > p, span, h1, h2, h3, h4, h5, h6, div {
  }

  min-height: 100vh;
  max-width: 100vw;
  font-family: 'Nunito Sans', sans-serif !important;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left
  }
  50% {
    background-position: right
  }
  100% {
    background-position: left
  }
}

.swiper-slide {
  max-width: 100%;
  min-width: 100%;
}

@include sm {
  .swiper-slide {
    max-width: 100%;
    min-width: 100%;
  }
}

@include md {
  .swiper-slide {
    max-width: 50%;
    min-width: 365px;
  }
}

@include lg {
  .swiper-slide {
    max-width: 33% !important;
    min-width: 365px;
  }
}




