@mixin glass {
  background: rgba(237, 237, 237, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(237, 237, 237, 0.3);
}

$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;

@mixin sm-640 {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md-768 {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg-1024 {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl-1280 {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin basic-padding($selector, $tailwind_default: 'w-full px-2.5', $tailwind_sm: 'px-5', $tailwind_lg: 'px-10') {
  #{$selector} {
    @apply #{$tailwind_default};
  }

  @include sm-640 {
    #{$selector} {
      @apply #{$tailwind_sm};
    }
  }

  @include lg-1024 {
    #{$selector} {
      @apply #{$tailwind_lg};
    }
  }
}